<% include ../common/header %>
<div id="main">
	<section class="content">
		<img src="/public/images/news/163937693269.jpg" />
		<div class="title">
			<h2>当消费升级遇到中国大妈</h2>
			<p>消费升级的意义，在于让你用更多的钱，自以为省去了时间买到了更高级的东西</p>
		</div>
	</section>
	<div class="clearfix"></div>
	<section class="content">
		<img src="/public/images/news/163937693269.jpg" />
		<div class="title">
			<h2>当消费升级遇到中国大妈</h2>
			<p>消费升级的意义，在于让你用更多的钱，自以为省去了时间买到了更高级的东西</p>
		</div>
	</section>
<% include ../common/footer %>