<% include ../common/header %>
<div id="main">
<section id="one">
	<header class="major">
		<h2>mysql 索引整理</h2>
	</header>
	<p>只对 where 和 order by 子句中需要的列添加索引，多余的索引智慧导致不必要的硬盘空间爱你消耗。 每次修改表信息时会更新索引，因此有索引的表性能会相应降低。 2：对于要使用索引的列要使用属性 NOT NULL ， 这样就永远不会存储 null 值。 3：最好用唯一化索引，一般情况下</p>
</section>
<section id="one">
	<header class="major">
		<h2>很全的php数组操作方法</h2>
	</header>
	<p>innodb默认使用的是 Btree索引，至于btree的数据结构是怎样的都不重要，只需要知道结果，既然是索引那这个数据结构最后是排好序；就像新华字典他的目录就是按照a,b,c..这样排好序的；所以你在找东西的时候才快，比如你找 “中” 这个字的解释，你肯定就会定位到目录</p>
</section>
<% include ../common/footer %>