<% include ../common/header %>

    <form method="post" action="/index/post">
        Name:<input type="type" name="name" id="name">
        <input type="submit" value="Submit">
    </form>
    

<% include ../common/footer %>