<% include ../common/header %>
    <div id="main">
    <section class="content">
        <h3 class="title"><%= info.title%></h3>
        <p><%- info.content%></p>
    </section>
<% include ../common/footer %>