<% include ../common/header %>

    
    <ol class="news">
        <% list.forEach(function(info){ %>
            <li><a href="list/info?id=<%= info.id%>"><%= info.school_name%></a></li>
        <% })%>
    </ol>

<% include ../common/footer %>