<% include common/header %>

    
    <ol class="news">
        <% list.forEach(function(info){ %>
            <li><a href="list/info?id=<%= info.id%>"><%= info.title%></a></li>
        <% })%>
    </ol>

<% include common/footer %>