<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="//github.com/sp5i5s" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="mailto:brandon-cn@outlook.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>Dev: <a href="//github.com/sp5i5s" target="_blank">sp5i5s</a></li>
		</ul>
	</div>
</footer>
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/skel.min.js"></script>
<script src="/public/assets/js/main.js"></script>
</body>
</html>