<!DOCTYPE HTML>
<html>
<head>
	<title>Strata by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/public/site.css">
	<script src="//localhost:8100/public/site.js"></script>
	<script src="/public/vendors.js"></script>
</head>
<body id="top">
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar"><img src="/public/images/face.jpg" alt="" /></a>
			<h1><strong>I am Strata</strong>, a super simple<br />
			responsive site template freebie<br />
			crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1>
			<!--<h1>PHP和JavaScript程序员<br />
			<p>
				略懂Node.js/Css3/.Net/Java。做过了几个开源项目，虽然做的不温不火，但也算有所收获。
			</p>
			<p>
				算是一个喜欢创造，有理想的人，虽然这个社会压抑的让人无奈，还是选择努力去抗争，不甘于平凡，生生不息。
			</p>
			</h1>-->
		</div>
	</header>